<app-nav-bar></app-nav-bar>
<div>
    <h1>Libros disponibles</h1>
   

</div>

<div class="card" style="width: 18rem;">
    <img src={{libro.imagen}} class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Titulo: {{libro.titulo}}</h5>
        <p class="text"> Descripcion: {{libro.descripcion}}</p>
        <p class="text"> Autor: {{libro.autor}}</p>
        <a href="#" class="btn btn-primary">{{libro.precio}}</a>
    </div>
</div>
<br>
<br>

<app-document-desclasificados></app-document-desclasificados>

<app-footer></app-footer>
<router-outlet></router-outlet>